In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [11]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
#preprocess the data
## Drop the irrelevant columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [13]:
##encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [14]:
##OneHot Encoding for 'Geography' column
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder(sparse_output=False)
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [15]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [16]:
encoded_geo=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [17]:
##combine the encoded columns with the original dataframe
data=pd.concat([data.drop('Geography',axis=1),encoded_geo],axis=1)

In [18]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [17]:
##Save the encoders and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [19]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [20]:
## divide the dataset into dependent and independent variables
X=data.drop('Exited',axis=1) #independent variables
y=data['Exited'] #dependent variable

## Split the dataset into training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

##Scale the features 
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [21]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [21]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

# #ANN IMPLEMENTATION

In [7]:
pip install -r requirements.txt

Requirement already satisfied: tensorflow==2.15.0 in d:\python3.10\lib\site-packages (from -r requirements.txt (line 1)) (2.15.0)
Requirement already satisfied: pandas in d:\python3.10\lib\site-packages (from -r requirements.txt (line 2)) (2.3.1)
Requirement already satisfied: numpy in d:\python3.10\lib\site-packages (from -r requirements.txt (line 3)) (1.26.4)
Requirement already satisfied: scikit-learn in d:\python3.10\lib\site-packages (from -r requirements.txt (line 4)) (1.7.1)
Requirement already satisfied: tensorboard in d:\python3.10\lib\site-packages (from -r requirements.txt (line 5)) (2.15.2)
Requirement already satisfied: matplotlib in d:\python3.10\lib\site-packages (from -r requirements.txt (line 6)) (3.10.6)
Requirement already satisfied: streamlit in d:\python3.10\lib\site-packages (from -r requirements.txt (line 7)) (1.50.0)
Requirement already satisfied: tensorflow-intel==2.15.0 in d:\python3.10\lib\site-packages (from tensorflow==2.15.0->-r requirements.txt (line 1)) (2.15.0)
Requirement already satisfied: absl-py>=1.0.0 in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (2.3.1)
Requirement already satisfied: astunparse>=1.6.0 in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (25.9.23)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (3.14.0)
Requirement already satisfied: libclang>=13.0.0 in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.2.0 in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: opt-einsum>=2.3.2 in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (3.4.0)
Requirement already satisfied: packaging in c:\users\hp\appdata\roaming\python\python310\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (25.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (4.25.8)
Requirement already satisfied: setuptools in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (57.4.0)
Requirement already satisfied: six>=1.12.0 in c:\users\hp\appdata\roaming\python\python310\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\hp\appdata\roaming\python\python310\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (4.14.1)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (1.14.2)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (0.31.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (1.75.1)
Requirement already satisfied: tensorflow-estimator<2.16,>=2.15.0 in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (2.15.0)
Requirement already satisfied: keras<2.16,>=2.15.0 in d:\python3.10\lib\site-packages (from tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (2.15.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in d:\python3.10\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (2.41.1)
Requirement already satisfied: google-auth-oauthlib<2,>=0.5 in d:\python3.10\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (1.2.2)
Requirement already satisfied: markdown>=2.6.8 in d:\python3.10\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (3.9)
Requirement already satisfied: requests<3,>=2.21.0 in d:\python3.10\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (2.32.5)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in d:\python3.10\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in d:\python3.10\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (3.1.3)
Requirement already satisfied: cachetools<7.0,>=2.0.0 in d:\python3.10\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->-r requirements.txt (line 5)) (6.2.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in d:\python3.10\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->-r requirements.txt (line 5)) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in d:\python3.10\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->-r requirements.txt (line 5)) (4.9.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in d:\python3.10\lib\site-packages (from google-auth-oauthlib<2,>=0.5->tensorboard->-r requirements.txt (line 5)) (2.0.0)
Requirement already satisfied: charset_normalizer<4,>=2 in d:\python3.10\lib\site-packages (from requests<3,>=2.21.0->tensorboard->-r requirements.txt (line 5)) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in d:\python3.10\lib\site-packages (from requests<3,>=2.21.0->tensorboard->-r requirements.txt (line 5)) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\python3.10\lib\site-packages (from requests<3,>=2.21.0->tensorboard->-r requirements.txt (line 5)) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\python3.10\lib\site-packages (from requests<3,>=2.21.0->tensorboard->-r requirements.txt (line 5)) (2025.10.5)
Requirement already satisfied: pyasn1>=0.1.3 in d:\python3.10\lib\site-packages (from rsa<5,>=3.1.4->google-auth<3,>=1.6.3->tensorboard->-r requirements.txt (line 5)) (0.6.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python310\site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\python3.10\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\python3.10\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2025.2)
Requirement already satisfied: scipy>=1.8.0 in d:\python3.10\lib\site-packages (from scikit-learn->-r requirements.txt (line 4)) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in d:\python3.10\lib\site-packages (from scikit-learn->-r requirements.txt (line 4)) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\python3.10\lib\site-packages (from scikit-learn->-r requirements.txt (line 4)) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in d:\python3.10\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (1.3.2)
Requirement already satisfied: cycler>=0.10 in d:\python3.10\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\python3.10\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\python3.10\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (1.4.9)
Requirement already satisfied: pillow>=8 in d:\python3.10\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\python3.10\lib\site-packages (from matplotlib->-r requirements.txt (line 6)) (3.2.5)
Requirement already satisfied: altair!=5.4.0,!=5.4.1,<6,>=4.0 in d:\python3.10\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in d:\python3.10\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (1.9.0)
Requirement already satisfied: click<9,>=7.0 in d:\python3.10\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (8.2.1)
Requirement already satisfied: pyarrow>=7.0 in d:\python3.10\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (21.0.0)
Requirement already satisfied: tenacity<10,>=8.1.0 in d:\python3.10\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (9.1.2)
Requirement already satisfied: toml<2,>=0.10.1 in d:\python3.10\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (0.10.2)
Requirement already satisfied: watchdog<7,>=2.1.5 in d:\python3.10\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in d:\python3.10\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (3.1.45)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in d:\python3.10\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (0.9.1)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in c:\users\hp\appdata\roaming\python\python310\site-packages (from streamlit->-r requirements.txt (line 7)) (6.5.1)
Requirement already satisfied: jinja2 in d:\python3.10\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit->-r requirements.txt (line 7)) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in d:\python3.10\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit->-r requirements.txt (line 7)) (4.25.1)
Requirement already satisfied: narwhals>=1.14.2 in d:\python3.10\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit->-r requirements.txt (line 7)) (2.7.0)
Requirement already satisfied: colorama in c:\users\hp\appdata\roaming\python\python310\site-packages (from click<9,>=7.0->streamlit->-r requirements.txt (line 7)) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in d:\python3.10\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 7)) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in d:\python3.10\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 7)) (5.0.2)
Requirement already satisfied: wheel<1.0,>=0.23.0 in d:\python3.10\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.15.0->tensorflow==2.15.0->-r requirements.txt (line 1)) (0.45.1)
Requirement already satisfied: MarkupSafe>=2.0 in d:\python3.10\lib\site-packages (from jinja2->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit->-r requirements.txt (line 7)) (3.0.3)
Requirement already satisfied: attrs>=22.2.0 in d:\python3.10\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit->-r requirements.txt (line 7)) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in d:\python3.10\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit->-r requirements.txt (line 7)) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in d:\python3.10\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit->-r requirements.txt (line 7)) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in d:\python3.10\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit->-r requirements.txt (line 7)) (0.27.1)
Requirement already satisfied: oauthlib>=3.0.0 in d:\python3.10\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<2,>=0.5->tensorboard->-r requirements.txt (line 5)) (3.3.1)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

WARNING:tensorflow:From d:\Python3.10\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [22]:
X_train.shape[1]

12

In [23]:
##Build our ANN model
model=Sequential([
   Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ##HL1 connected to input layer
   Dense(32,activation='relu'), ##HL2
   Dense(1,activation='sigmoid') ##output layer
])

WARNING:tensorflow:From d:\Python3.10\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [24]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
opt=tf.keras.optimizers.Adam(learning_rate=0.01)
loss=tf.keras.losses.BinaryCrossentropy()

In [26]:
##compile the model
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [28]:
#setup the tensorboard
log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tf_callbacks=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [29]:
##Setup early stopping
early_stopping=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [30]:
##Train the model
history=model.fit(
    X_train,y_train,validation_data=[X_test,y_test],
    epochs=100,callbacks=[early_stopping,tf_callbacks])

Epoch 1/100
WARNING:tensorflow:From d:\Python3.10\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\Python3.10\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 5ms/step - loss: 0.4066 - accuracy: 0.8248 - val_loss: 0.3542 - val_accuracy: 0.8560
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3559 - accuracy: 0.8531 - val_loss: 0.3443 - val_accuracy: 0.8615
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3484 - accuracy: 0.8561 - val_loss: 0.3467 - val_accuracy: 0.8560
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3428 - accuracy: 0.8612 - val_loss: 0.3404 - val_accuracy: 0.8615
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3416 - accuracy: 0.8625 - val_loss: 0.3447 - val_accuracy: 0.8620
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3378 - accuracy: 0.8615 - val_loss: 0.3627 - val_accuracy: 0.8645
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3366 - accuracy: 0.8619 - val_loss: 0.3466 - val_accuracy: 0.8645
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3316 - accuracy: 0.8627 - val_loss: 0.3399 - val_accuracy: 0.8620
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3310 - accuracy: 0.8651 - val_loss: 0.3435 - val_accuracy: 0.8625
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3306 - accuracy: 0.8641 - val_loss: 0.3434 - val_accuracy: 0.8615
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3292 - accuracy: 0.8624 - val_loss: 0.3412 - val_accuracy: 0.8630
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3283 - accuracy: 0.8658 - val_loss: 0.3490 - val_accuracy: 0.8585
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3268 - accuracy: 0.8677 - val_loss: 0.3516 - val_accuracy: 0.8595

In [31]:
model.save('model.h5')

d:\Python3.10\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [32]:
##Load tensorboard extension
%load_ext tensorboard

In [34]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 313668), started 0:00:49 ago. (Use '!kill 313668' to kill it.)